<nav class="navbar navbar-expand-lg body  ">
    <div class="d-flex container-fluid justify-content-end ml-5 mb-2 mt-2">
        <a class="navbar-brand text-white ml-5" href="#"><img class="ml-5 mr-2" src="assets\images\home.svg">
            Residencial</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end mr-2">
            <ul class="nav ">
                <li class="nav-item mr-2">
                    <a class="nav-link text-white " href="">Quem Somos</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link text-white" href="">Diferencias</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link text-white" href="">Espaços</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link text-white" href="">Clientes</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link text-white" href="">Localização</a>
                </li>
            </ul>
        </div>
        <div class="d-flex justify-content-start mr-5 align-items-center ">
            <button class="btn bg-orange text-dark mr-5 "><label class="m-1">Quero uma oferta</label></button>
        </div>
    </div>
</nav>