<nav class="navbar navbar-expand-lg body">
    <a class="navbar-brand mt-2 mb-5">
        <img src="" width="130" height="auto">
    </a>

    <ul class="navbar-nav mb-4">
        <li class="nav-item d-none d-sm-inline-block">
            <a class="nav-link"><strong>PÁGINA INICIAL</strong></a>
        </li>
        <li>
            <a href="/" class="nav-link"><strong>MEUS TÍTULOS</strong></a>
        </li>
        <li>
            <a href="" class="nav-link"><strong>MEUS PAGAMENTOS</strong></a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto mb-4">
        <li class="nav-item d-none d-sm-inline-block">
            <i class="fa-solid fa-bell"></i>
            <!-- <div ngbDropdown class="d-inline-block">
                <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>
                    <label class="text-dark cursor-pointer">Usuário Teste</label>
                </a>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <a class="cursor-pointer" ngbDropdownItem>Dados da conta</a>
                    <a class="cursor-pointer" ngbDropdownItem>Central de ajuda</a>
                    <a class="text-danger cursor-pointer" ngbDropdownItem>Sair da conta</a>
                </div>
            </div> -->
            <img>
        </li>

    </ul>

</nav>